* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #FBF2CF;
}

.homepage-header {
    padding: 150px 30px 30px 30px;
    text-shadow: 2px 2px darkgrey;
    font-size: 2.5em;
    color: aqua;
    text-align: center;
    margin-bottom: 0;
}

.hero {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
}

main {
    width: 95%;
    margin: auto;
}

.main-section {
    display: flex;
    justify-content: space-around;
}

.all-forms {
    display: flex;
    justify-content: center;
}

.destination-forms {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.form-box {
    width:max-content;
    border: 2px solid green;
    border-radius: 10px; 
    margin-top: 50px; 
    box-shadow: 9px 8px lightgreen;
    padding: 15px;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}

button {
   margin: 20px 20px 20px 0;
}

.extra-btn {
    text-align: right;
    margin-top: 30px;
}

.errorMessage{
    font: italic;
    color: red;
    visibility: hidden;
}
.errorMessage #locationError,
#radiusError,
#selectingDateError, #nameinputError{
    font: italic;
    color: red;
    visibility: hidden;
}



.pageSections{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;

}
#homePage{
    visibility: visible;
}

#destination-page, #destinationpage,#weatherpage,#resultpage{
    visibility: hidden;
}

.modal-content {
    width: 60%;
}

.calendar-input {
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.button.is-primary {
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
}

.button.is-secondary {
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
}

.modal.content.h4 {
    margin-top: 5px;
}